#History {
    background: #d9d9d9;
    padding: 2rem;
}

.date-block {
    display: flex;
    justify-content: space-evenly;
}

.main {
    width: 90%;
    margin: 1em auto;
    background-color: #A7A7A7; 
}
.stock_list {
    text-align: center;
    width: 100%;
    padding: 1rem;
}