#History {
    background: #FFA101;
    padding: 2rem;
}

.date-block {
    display: flex;
    justify-content: center;
}

.main {
    width: 95%;
    margin: 1em;
    background-color: #FFF;
}
.stock_list {
    text-align: center;
    width: 100%;
    padding: 1rem;
}
@media only screen and (max-width: 426px) {
    .date-block div label {
        display: block;
    }
    .main {
        width: 90%;
        overflow-x: auto; /* 設定水平滾動條 */
    }
}