body{
    padding: 0;
    margin: 0;
}
.LogIn {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login-main {
    width: 60rem;
    height: 30rem;
    border-radius: 3rem;
    background-color: #FFA101;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-main div div {
    margin: 1em;
}
.title {
    font-size: 1.875em;
}
.input-box {
    width: 30rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1.5em;
    background-color: #FFFFFF;
}
.input-button{
    cursor: pointer;
    width: auto;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.5em;
    margin: 1em 3em;
}
@media only screen and (max-width: 768px) {
    .input-box {
        width: 20rem;
    }
}
@media only screen and (max-width: 320px) {
    .title {
        font-size: 1em;
        white-space: nowrap;
        width: auto;
    }
    .input-box {
        width: 10rem;
    }
    .input-button{
        cursor: pointer;
        width: auto;
        height: 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.5em;
        margin: 0.5em 1.5em;
    }
}