body {
    padding: 0;
    margin: 0;
}
.Cart-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5em;
    background-color: #B3DEE5;
    text-align: center;
}
.Cart-table tr td {
    margin: 1em;
    border-bottom: 1px solid black;
}
.Cart_Input {
    margin: 1em;
}
.Cart-bottom {
    display: flex;
    justify-content: center;
}
.Cart-bottom input {
    font-size: 1.5em;
    margin: 1em;
}