body{
    padding: 0;
    margin: 0;
}
.store-main {
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    background-color: #FFA101;
    flex-direction: column;
}
.menu-item {
    cursor: pointer;
    text-align: center;
    margin: 0.5em;
    font-size: 1.5em;
}
.item {
    width: auto;
    background-color: #B3DEE5;
}
.item-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.item-column {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.item-column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-pointer {
    cursor: pointer;
}
img {
    width: 10em;
    height: 15em;
    margin: 0 0 1em 0;
}
.hover-effect:hover {
    color: #FAE6B1;
    text-decoration: underline;
}