body{
    padding: 0;
    margin: 0;
}
.store-main {
    display: inline-block;
    width: auto;
    justify-content: center;
}
.menu {
    padding: 1em;
    background-color: #FFA101;
    flex-direction: column;
    text-align: center;
}
.menu-item {
    cursor: pointer;
    text-align: center;
    margin: 1em;
    font-size: 2em;
    align-content: center;
}
.item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    width: 100%;
    justify-content: center;
    background-color: #FAE6B1;
}
.item-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-pointer {
    cursor: pointer;
}
img {
    width: 10em;
    height: 15em;
    margin: 0 0 1em 0;
}
.hover-effect:hover {
    color: #FAE6B1;
    text-decoration: underline;
}
.modal-body-2 {
    display: flex;
    background-color: #FAE6B1;
    justify-content: space-around;
}
.item-infor {
    text-align: left;
}
.item-infor h1, .item-infor div {
    text-align: center;
    justify-content: center;
    padding-top: 0.5em;
}
.Cart_Input {
    margin: 1em;
    background-color: #FAE6B1; /* 设置背景颜色 */
    color: black; /* 设置文字颜色 */
    padding: 10px 20px; /* 设置内边距 */
    border-radius: 5px;
    font-size: 2em;
    border: none;
}
.Cart_Input:hover {
    background-color: #FFA101; /* 鼠标悬停时的背景颜色 */
}
.count-size {
    font-size: 1.5em;
    max-width: 15%;
}
#Store {
    display: flex;
    justify-content: center;
}
.modal-Define-CSS{
    display: flex;
    justify-content: center;
    background-color: #FAE6B1;
}

@media only screen and (max-width: 1024px) {
    .item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 1rem;
        width: 100%;
        justify-content: center;
        background-color: #FAE6B1;
    }
}

@media only screen and (max-width: 768px) {
    .item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 1rem;
        width: 100%;
        justify-content: center;
        background-color: #FAE6B1;
    }
}

@media only screen and (max-width: 320px) {
    .item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 1rem;
        width: 100%;
        justify-content: center;
        background-color: #FAE6B1;
    }
    .item-pointer-2 {
        max-width: 49%;
        max-height: 49%;
        width: auto;
        height: auto;
    }
    .modal-body-2 {
        display: block;
        justify-content: space-around;
    }
    .modal-body-2-img{
        display: flex;
        justify-content: center;
    }
    .Cart_Input {
        margin: 0.5em;
    }
    .modal-footer-button{
        display: flex;
        justify-content: center;
    }
}