<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div id="Index">
        <div class="top-bar">
            <div>
                <span class="Index-input hover-effect" v-on:click="Store()">賣場</span>
                <span class="Index-input hover-effect" v-on:click="History()">熱量計算</span>
            </div>
            <div>
                <div class="cart-container">
                    <i class="fa-solid fa-cart-shopping Index-input" title="購物車" v-on:click="ShoppingCart()"></i>
                    <div class="cart-badge" v-if="cartItemCount != 0">{{cartItemCount}}</div>
                </div>
                <span v-show="!IsRegister" class="Index-input hover-effect" v-on:click="LogIn()" v-if="GUID == '' && ChinName == ''">登入</span>
                <span v-show="!IsRegister" class="Index-input hover-effect" v-on:click="LogOut()" v-else>登出</span>
            </div>
        </div>
        <div id="Detail" class="detail"></div>
        <div class="footer">
            © 2023 50嵐、台北市食材登入平台.  S0籃
            <span v-if="GUID != ''">，歡迎{{ChinName}}光臨本店</span>
            
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="css/Index.css" />

<script src="https://kit.fontawesome.com/621c3d4528.js" crossorigin="anonymous"></script>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery.js"></script>
<script src="js/Index.js"></script>