<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div id="Index">
        <div class="top-bar">
            <div>
                <input class="Index-input" type="button" value="賣場" v-on:click="Store()" />
                <input class="Index-input" type="button" value="熱量計算" v-on:click="History()" />
            </div>
            <div>
                <input class="Index-input" type="button" value="購物車" v-on:click="ShoppingCart()" />
                <input v-show="!IsRegister" class="Index-input" type="button" value="登入" v-on:click="LogIn()" v-if="GUID == '' && ChinName == ''" />
                <input v-show="!IsRegister" class="Index-input" type="button" value="登出" v-on:click="LogOut()" v-else />
            </div>
        </div>
        <div id="Detail" class="detail"></div>
        <div class="footer">
            新興商店
            <span v-if="GUID != ''">，歡迎{{ChinName}}光臨本賣場</span>
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="css/Index.css" />
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery.js"></script>
<script src="js/Index.js"></script>