<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <div id="LogIn" class="LogIn">
        <div class="login-main">
            <div>
                <div>
                    <span class="title">帳號：</span>
                    <input class="input-box" type="text" v-model="UserName" />
                </div>
                <div>
                    <span class="title">密碼：</span>
                    <input class="input-box" type="password" v-model="PassWord" />
                </div>
                <div v-show="IsRegister">
                    <span class="title">姓名：</span>
                    <input class="input-box" type="text" v-model="ChinName" />
                </div>
            </div>
            <div>
                <input v-show="!IsRegister" class="input-button" type="button" value="登入" v-on:click="LogIn()" />
                <input v-show="!IsRegister" class="input-button" type="button" value="註冊" v-on:click="IsRegister = true" />
                <input v-show="IsRegister" class="input-button" type="button" value="確定註冊" v-on:click="Register()"/>
                <input v-show="IsRegister" class="input-button" type="button" value="取消註冊" v-on:click="IsRegister = false;ChinName = ''" />
            </div>
        </div>
        
    </div>
</body>
</html>

<link rel="stylesheet" href="css/LogIn.css">
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery.js"></script>
<script src="js/LogIn.js"></script>