<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingCart</title>
</head>
<body>
    <div id="ShoppingCart">
        <div>
            <table class="Cart-table">
                <tr>
                    <th></th>
                    <th>
                        項目
                    </th>
                    <th>
                        金額
                    </th>
                    <th>
                        卡路里
                    </th>
                </tr>
                <tr v-for="(item, index) in CartItem">
                    <td>
                       <input class="Cart_Input" type="button" value="-" v-on:click="ReduceAmount(index)" />
                       {{item.Amount}}
                       <input class="Cart_Input" type="button" value="+" v-on:click="AddAmount(index)" /> 
                    </td>
                    <td>
                        {{item.Name}}
                    </td>
                    <td>
                        {{(item.Amount * item.Price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}
                    </td>
                    <td>
                        {{(item.Amount * item.Heat).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}
                    </td>
                </tr>
                <tr v-if="TotalPrice != 0 && TotalHeat != 0">
                    <td></td>
                    <td></td>
                    <td>
                        {{TotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}
                    </td>
                    <td>
                        {{TotalHeat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="Cart-bottom">
            <input type="button" value="結帳" v-on:click="Checkout()" />
            <input type="button" value="返回賣場" v-on:click="BackStore()" />
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="css/ShoppingCart.css" />
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery.js"></script>
<script src="js/ShoppingCart.js"></script>