<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <div id="Store">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1  v-if="CommodityIndex != ''" class="modal-title fs-5" id="staticBackdropLabel">{{CommodityList[CommodityIndex[0]][CommodityIndex[1]][CommodityIndex[2]].Name}}</h1>
                </div>
                <div class="modal-body" v-if="CommodityIndex != ''">
                    <div>
                        <img class="item-pointer" v-bind:src="'img/' + CommodityList[CommodityIndex[0]][CommodityIndex[1]][CommodityIndex[2]].ImgName" />
                    </div>
                    <div>
                        <span>{{CommodityList[CommodityIndex[0]][CommodityIndex[1]][CommodityIndex[2]].Desc}}</span>
                        <input class="Cart_Input" type="button" value="-" v-on:click="CommodityCountDown()" />
                        {{CommodityCount}}
                        <input class="Cart_Input" type="button" value="+" v-on:click="CommodityCountUp()" /> 
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="CommodityIndex = ''" id="Cancel_Modal">取消</button>
                  <button type="button" class="btn btn-primary" v-on:click="CarAdd()">加入購物車</button>
                </div>
              </div>
            </div>
        </div>
        <div class="store-main">
            <div class="menu">
                <span v-for="item in ItemList" class="menu-item hover-effect" v-on:click="GetCommodity(item.Type)">
                    {{item.Name}}
                </span>
            </div>
            <div class="menu item">
                <div class="item-row" v-for="(item, index) in CommodityList">
                    <div class="item-column" v-for="(item1, index1) in item">
                        <div v-for="(item2, index2) in item1">
                            <img class="item-pointer" v-bind:src="'img/' + item2.ImgName" v-on:click="CommodityIndex = index.toString() + index1.toString() + index2.toString()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" />
                            {{item2.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/ShoppingCart.css" />
<link rel="stylesheet" href="css/Store.css" />
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/Store.js"></script>